nav.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
    div.container
        div.audio-clip.center-block
            
            audio(id="myaudio", controls, loop)
                source(src="http://kdif.org/mix2.mp3", type="audio/mpeg")
                p Your video does not support HTML5 audio
                

div.container
    div.row
        div.col-lg-12
            img(src="img/logo.png", width="100", height="100", class="img-responsive center-block")
    div.row
        div.col-lg-12.text-center
            h1 KDIF 102.9 FM Coming Soon
            p We are currently revamping our site. In the mean time.
            
            link(href="", rel="stylesheet", type="text/css")
            
            div#mc_embed_signup.text-center
                form(action="//1029phx.us9.list-manage.com/subscribe/post?u=44f1484c75f701733c4c9f27b&amp;id=c8976e457b", method="post", id="mc-embedded-subscribe-form", name="mc-embedded-subscribe-form", class="validate", target="_blank", novalidate)
                    div.mc-embedded-subscribe-form.text-center.form-group
                        label(for="mce-EMAIL") Subscribe to our mailing list
                        input(type="email", value="", name="EMAIL", class="email form-control", id="mce-EMAIL", placeholder="email address", required)
                        div(style="position: absolute; left: -5000px;", aria-hidden="true")
                            input(type="text", name="b_44f1484c75f701733c4c9f27b_c8976e457b", tabindex="-1", value="")
                    div.form-group
                        div.clear
                            input(type="submit", value="Subscribe", name="subscribe", id="mc-embedded-subscribe", class="button form-control btn btn-primary")
            
